body {
  font-family: 'Nunito', sans-serif;
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  align-items: center;
  width: 10%;
}

.table-bordered > tbody > tr > th {
  border: 1px solid blue;
}