{% extends "app/base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
  <h3 class="mt-4 text-center">Customer Details</h3>

  <div class="row mb-2">
    <div class="col-md-6">
      <div style="width:50%;" class="input-group">
        <input id="searchBox" type="text" class="form-control"
        placeholder="Search Details">
        <button class="btn btn-outline-secondary" type="button" id="searchEmployee">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="float-end">
        {% if request.user.is_superuser %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal"
        data-bs-target="#addEmployeeModal">
          <i class="fas fa-plus"></i>
          Add
        </button>
        {% else %}

        {% endif %}
      </div>
    </div>
  </div>

  <div id="searchOutput">
    <table id="employeeTable" class="table table-bordered table-hover table-grey">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email ID</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Address</th>
          <th>Contact No.</th>
          {% if request.user.is_superuser %}
          <th>Actions</th>
          {% else %}

          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.cust_id }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.sex }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.contactno }}</td>
          
          {% if request.user.is_superuser %}

          <td><a href ="/Delete/{{ employee.id }} " button class="btn btn-danger">Delete</a></td>
        </tr>
        {% else %}

        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  


  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLable"
   aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Customer Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
              <input style="width:100%;" name="first_name" type="text"
              class="form-control mb-2" placeholder="First Name" required>

              <input styl e="width:100%;" name="last_name" type="text"
              class="form-control mb-2" placeholder="Last Name" required>

              <input style="width:100%;" name="cust_id" type="text"
              class="form-control mb-2" placeholder="Email ID" required>

              <input style="width:100%;" name="age" type="text"
              class="form-control mb-2" placeholder="Age" required>

              <input style="width:100%;" name="sex" type="text"
              class="form-control mb-2" placeholder="Sex" required>

              <input style="width:100%;" name="address" type="text"
              class="form-control mb-2" placeholder="Address" required>

              <input style="width:100%;" name="contactno" type="text"
              class="form-control" placeholder="Contact No." required>
            </div>

            <button class="btn btn-success" type="submit" name="button">Save</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- JS Function to Search Employee -->
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on("click","#searchEmployee",function() {
      var searchTerm = $("#searchBox").val();

      $.ajax({
          type: "POST",
          url: "{% url 'app:search_employees' %}",
          data: {'searchTerm':searchTerm},
          success: function(response){
            $('#searchOutput').html(response);
          }
      });

    });
  });
</script>

{% endblock %}
